@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
	--popup-color: #01acc6;
	--popup-hover-color: #0192a8;
	--popup-border-color: #d3d0d6;
	--popup-background-color: #e7e7e7;
	--navbar-green: #28a745;
	-webkit-tap-highlight-color: transparent;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 16px;

	color-scheme: light;
	background-color: #ececec;
}

#root {
	height: 100%;
}

.body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
}

p {
	color: white;
	font-family: inherit;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
}
