.panel-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	border-radius: 0.75rem;
	padding: 2rem;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	width: 18.75rem;
}
.panel-green {
	background: linear-gradient(135deg, #33e13b, #18ac22);
}
.panel-teal {
	background: linear-gradient(135deg, #48e9f5, #2a7f92);
}
.panel-purple {
	background: linear-gradient(135deg, #c87bfc, #68269a);
}

.panel-container > input {
	height: 2rem;
	border-radius: 0.375rem;
	border: none;
	text-align: center;
	font-size: 1.1rem;
	appearance: textfield;
}

.panel-container > input.inputError {
	color: red;
	animation: shake 0.3s;
}

h2 {
	color: #ffffff;
	font-size: 1.5rem;
	font: bold;
	margin: 0;
	text-align: center;
}

.dropdown-container {
	display: flex;
	gap: 1.25rem;
	width: 75%;
}

.panel-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 8.5rem;
	height: 2.7rem;
	border: 2px solid #725000;
	border-radius: 0.375rem;
	font-size: 1.1rem;
	font-weight: bold;
	color: white;
	background: linear-gradient(#efca38, #ba7a0c);
}
.panel-button:hover {
	background: linear-gradient(#ad901b, #986d17);
	box-shadow: 2px 2px 0px #7a5e00;
	transform: translate(2px, 2px);
}

@media (max-width: 767px) {
	.panel-container {
		width: 70%;
	}
	.dropdown-container {
		flex-direction: column;
	}
}

@media (min-width: 768px) {
	.panel-container {
		width: 30rem;
	}
	.dropdown-container {
		flex-direction: row;
		gap: 2rem;
		width: 90%;
	}
}
