.hidden {
	display: none;
}

.overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 11;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	pointer-events: none;
}

.fade-in {
	opacity: 1;
	pointer-events: auto;
}
.fade-out {
	opacity: 0;
	pointer-events: none;
}

.login-popup {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	gap: 1.2rem;
	background-color: var(--popup-background-color);
	padding: 1.25rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 18.75rem;
	text-align: center;
	transform: translateY(0);
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.logout-popup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0.8rem;
	top: 3.6rem;
	box-sizing: border-box;
	width: 15rem;
	height: 10rem;
	border-radius: 0.5rem;
	background-color: var(--popup-background-color);
	box-shadow: -2px 2px 7px 3px rgba(0, 0, 0, 0.1);
	transform: translateY(0);
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	padding-bottom: 1rem;
}

.logout-popup-circle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 1.4rem;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	color: white;
	font-size: 1.5rem;
	background-color: var(--navbar-green);
}

.logout-popup > p {
	margin: 0;
	color: black;
	position: relative;
	bottom: 0.4rem;
}

#p-bottom {
	margin-top: 0.1rem;
	margin-bottom: 0.6rem;
}

.login-popup > a {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.slide-in {
	opacity: 1;
	transform: translateY(0);
}
.slide-out {
	opacity: 0;
	transform: translateY(-20px);
}

.closeButton {
	position: absolute;
	top: 0.625rem;
	right: 0.625rem;
	background: none;
	border: none;
	font-size: 1.25rem;
	cursor: pointer;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	border: 0.5rem solid var(--popup-border-color);
	background-color: var(--popup-color);
}

.user-icon {
	color: white;
	font-size: 2.5rem;
}

.login-popup-h2 {
	color: var(--popup-color);
	font: inherit;
	font-size: 1.7rem;
	font-weight: lighter;
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.login-form > input {
	box-sizing: border-box;
	width: 80%;
	height: 2.5rem;
	padding: 0.5rem;
	border: 1px solid #999;
	border-radius: 4px;
	font: inherit;
	font-size: 0.9rem;
}

.login-form > input.inputError {
	color: red;
	border: 1px solid red;
	animation: shake 0.3s;
}

.login-form > p {
	color: gray;
	font-size: 0.8rem;
	margin: 0.2rem 0rem;
}

#errorMessage {
	color: red;
	font-size: 0.8rem;
	font-weight: bold;
}

.login-form > p > a {
	color: var(--popup-color);
}

.w80 {
	width: 80%;
}
.loginButton {
	height: 2.3rem;
	background: var(--popup-color);
	color: white;
	font-size: 1rem;
	font-weight: bold;
	padding: 8px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.loginButton:hover {
	background: var(--popup-hover-color);
}

/*---------------------------
		Win-loose-draw
----------------------------*/
.win-h2 {
	color: green;
}
.loose-h2 {
	color: rgb(215, 0, 0);
}
.draw-h2 {
	color: darkblue;
}

.win-p {
	color: green;
}
.loose-p {
	color: rgb(215, 0, 0);
}
.draw-p {
	color: darkblue;
}
